<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../CSS/CSS.css">
    <link rel="stylesheet" href="../CSS/Footer.css">
		<title>Project Velocity</title>
		<link rel="icon" href="../Pictures/Icons/apesofwrath.jpeg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
    <ul id="Footer">
      <li class="FLI">
        <h3>About Us</h3>
        <ul class="listOfLinks">
          <li>
            <a href="google.com">Contact Us</a>
          </li>
          <li>
            <a>About</a>
          </li>
          <li>
            <a>Team Information</a>
          </li>
          <li>
            <a>Pioneer High School</a>
          </li>
          <li>
            <a>Feedback</a>
          </li>
        </ul>
      </li>

      <li class="FLI">
        <h3>Helpful Links</h3>
        <ul class="listOfLinks">
          <li>
            <a>FIRST</a>
          </li>
          <li>
            <a>Categories</a>
          </li>
          <li>
            <a onclick="getStyle()">Styles</a>
          </li>
        </ul>
      </li>

      <li class="FLI">
        <h3>Internal Revenue System Exemption</h3>
        <p>
          &copy;2017 Apes of Wrath<br />The Apes of Wrath is a 501(c)(3) non-profit organization. Monetary contributions to The Apes of Wrath are tax deductible by IRS tax laws and regulations.
        </p>
      </li>

      <li class="FLI">
        <h3>Social Media &amp; Contact</h3>
        <ul class="listOfLinks">
          <li>
            <a>Instagram</a>
          </li>
          <li>
            <a>Youtube</a>
          </li>
          <li>
            <a href="mailto:apesofwrath668@gmail.com">Email</a>
          </li>
        </ul>
      </li>
    </ul>
    <script src="../Javascript/JS.js"></script>
	</body>
</html>
