<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../CSS/CSS.css">
    <link rel="stylesheet" href="../CSS/Header.css">
		<title>Project Velocity</title>
		<link rel="icon" href="../Pictures/Icons/apesofwrath.jpeg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
	  <div id="Desktop">
      <img id="headerLogo" src="../Pictures/Icons/AppsOfWrath - Large.png" />
      <nav>
        <li><a target='_parent' href="../HTML/Index.html" id="Selected">Home</a></li>
        <li><a target='_parent' href="">Media</a></li>
        <li><a target='_parent' href="">Events</a></li>
        <li><a target='_parent' href="">About</a></li>
        <li><a target='_parent' href="">Contact</a></li>
        <li><a target='_parent' href="">Sponsors</a></li>
      </nav>
    </div>
    <!--Mobile Nav Here-->
    <script src="../Javascript/JS.js"></script>
	</body>
</html>
